#otherfont{
	font-family: fantasy;
}

.fgblue {
	color:	blue;
}

.bgred {
	background-color: red;
}

.bgyellow {
	background-color: yellow;
}

div {
	width: 200px;
	height: 100px;
}

.smallbox {
	width: 100px;
	height: 100px;
}

.dottedpurpleborder{
	border: dotted #77008b;
}

.solidgreenborder{
	border-style: solid;
	border-color: green;
}

.spacey-emphasis{
	line-height: 2.5;
	letter-spacing: 1em;
	font-style: italic;
}

.inline-rtl{
	direction: rtl;
	color: #4b0082;
}

.roman-list{
	list-style-type: upper-roman;
}

.square-list{
	list-style-type: square;
}

.blue-bold{
	color: blue;
	font-weight: bold;
}

.red-reg{
	color: red;
	font-weight: normal;
}